<%= javascript_include_tag "jquery-1.7.2.min.js" %>
<%= javascript_include_tag "jquery-ui.min1.8.js" %>
<%= javascript_include_tag "gantt/libs/jquery.livequery.min.js" %>
 <%= javascript_include_tag "gantt/libs/jquery.timers.js" %>
 <%= javascript_include_tag "gantt/libs/platform.js" %>
 <%= javascript_include_tag "gantt/libs/date.js" %>
 <%= javascript_include_tag "gantt/libs/i18nJs.js" %>
 <%= javascript_include_tag "gantt/libs/dateField/jquery.dateField.js" %>
 <%= javascript_include_tag "gantt/libs/JST/jquery.JST.js" %>
 
 <%= javascript_include_tag "gantt/ganttUtilities.js" %>
 <%= javascript_include_tag "gantt/ganttTask.js" %>
 <%= javascript_include_tag "gantt/ganttDrawer.js" %>
 <%= javascript_include_tag "gantt/ganttGridEditor.js" %>
 <%= javascript_include_tag "gantt/ganttMaster.js" %>

<%= stylesheet_link_tag "gantt/platform.css"  %>
<%= stylesheet_link_tag "gantt/libs/dateField/jquery.dateField.css"  %>
<%= stylesheet_link_tag "gantt/gantt.css"  %>
<%= stylesheet_link_tag "gantt/gantt_compact.css"  %>
<%= stylesheet_link_tag "gantt/teamworkFont.css"  %>


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="jp" lang="jp">

<html>
<head>
  <title>Start: <%= controller.action_name %></title>
            
</head>
<h5> <center><%= @disp_screenname_name           %>  </center></h5>
<body style="background-color: #fff;">
<%=raw  render :partial =>"divgantt" %>
<%=   yield %>
<br>
<div class="headright"> 
 <%= render :partial => "devise/login_logout" %>
</div>
<div id="contents">
      <p class="notice"><%= notice %> <class="alert"><%= alert %></p>
</div>
</body>
</html>
