<!DOCTYPE html>
<html lang="jp">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
<%=jqgrid_javascripts%>
<%=jqgrid_stylesheets%>
<% if @screen_code =~ /gantt/ then  %>
<%=gantt_javascripts%>
<%=gantt_stylesheets%>
<% end %>

<title> <%= @title %></title>
           
</head>
<body >
 <%=   yield %>
<br>

<div id="ganttcharthtml" style="display:none;">
<% if @screen_code =~ /gantt/ then  %>
<%=raw  render :partial =>"gantt/divgantt" %>
<% end %>
</div>
<div class="headright"> 
 <%= render :partial => "devise/login_logout" %>
</div>
<div id="contents">
      <p class="notice"> </p><p class="alert"></p>
</div>
</body>
</html>
