<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="jp" lang="jp">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
<%=jqgrid_javascripts%>
<%=jqgrid_stylesheets%>

<head>
 <title>Start: <%= controller.action_name %></title>
           
</head>
<body style="background-color: #fff;" >
<div id="nstid">
 <%=   yield %>
<br>
</div>
<div id="ganttcharthtml" style="display:none;">
<%=raw  render :partial =>"gantt/divgantt" %>
</div>
<div class="headright"> 
 <%= render :partial => "devise/login_logout" %>
</div>
<div id="contents">
      <p class="notice"><%= notice %> <class="alert"><%= alert %></p>
</div>
</body>
</html>
