<h1> EXPORT to <%= @viewname %> </h1>

<p>
Condition
</p>
<%= form_for :export, :url=>"/excelexport/export",:html => { :multipart => true } do |f| %>
	<%  @gridcolumns.each do |i| %>
		<% if i[:hidden] == false then %>
		<li>
		<tr>
		<td align="right"><b><%= i[:label]%> </b></td>
		<td>	<%= f.text_field i[:field] %></td>
	        </tr>
	        </li>
	<% end %>
        <% end %>

	       <li>
		<tr>
		<td align="right"><b> max output cnt  </b></td>
		<td>	<%= f.text_field "maxcount",value:10000%></td>
	        </tr>
	        </li>

<tr><td align="right"><b>Download: Table(</b> <%= f.text_field :exportscreen_code,value:@viewname,:readonly => true  %>
			<b>) to excels :<%=@tblname%>_export.xlsx</b></td></tr>
	<%= f.submit "Export"  %>  </p>
<% end %>


