<%=  javascript_include_tag('jquery.min.js')  %>
<%   javascript_include_tag('jqgrid/jquery-ui-1.10.3.custom.min.js')  %>
<%= javascript_include_tag "gantt/libs/jquery.livequery.min.js" %>
 <%= javascript_include_tag "gantt/libs/jquery.timers.js" %>
 <%= javascript_include_tag "gantt/libs/platform.js" %>
 <%= javascript_include_tag "gantt/libs/date.js" %>
 <%= javascript_include_tag "gantt/libs/i18nJs.js" %>
 <%= javascript_include_tag "gantt/libs/dateField/jquery.dateField.js" %>
 <%= javascript_include_tag "gantt/libs/JST/jquery.JST.js" %>
 
 <%= javascript_include_tag "gantt/ganttUtilities.js" %>
 <%= javascript_include_tag "gantt/ganttTask.js" %>
 <%= javascript_include_tag "gantt/ganttDrawer.js" %>
 <%= javascript_include_tag "gantt/ganttGridEditor.js" %>
 <%= javascript_include_tag "gantt/ganttMaster.js" %>

 <%= stylesheet_link_tag("jqgrid/themes/default/jquery-ui-1.10.3.custom.css") %>
<%= stylesheet_link_tag "gantt/platform.css"  %>
<%= stylesheet_link_tag "gantt/libs/dateField/jquery.dateField.css"  %>
<%= stylesheet_link_tag "gantt/gantt.css"  %>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="jp" lang="jp">

<html>
<head>
  <title>Start: <%= controller.action_name %></title>
            
</head>
<h5> <center><%= @disp_screenname_name           %>  </center></h5>
<div id="gantEditorTemplates" style="display:none;">
  <div class="__template__" type="GANTBUTTONS"><!--
<div class="ganttButtonBar">
<h1 style="float:left">task tree/gantt</h1>
<div class="buttons">
<button onclick="$('#workSpace').trigger('undo.gantt');" class="button textual" title="undo"><span class="teamworkIcon">&#39;</span></button>
<button onclick="$('#workSpace').trigger('redo.gantt');" class="button textual" title="redo"><span class="teamworkIcon">&middot;</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('addAboveCurrentTask.gantt');" class="button textual" title="insert above"><span class="teamworkIcon">l</span></button>
<button onclick="$('#workSpace').trigger('addBelowCurrentTask.gantt');" class="button textual" title="insert below"><span class="teamworkIcon">X</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('indentCurrentTask.gantt');" class="button textual" title="indent task"><span class="teamworkIcon">.</span></button>
<button onclick="$('#workSpace').trigger('outdentCurrentTask.gantt');" class="button textual" title="unindent task"><span class="teamworkIcon">:</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('moveUpCurrentTask.gantt');" class="button textual" title="move up"><span class="teamworkIcon">k</span></button>
<button onclick="$('#workSpace').trigger('moveDownCurrentTask.gantt');" class="button textual" title="move down"><span class="teamworkIcon">j</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('zoomMinus.gantt');" class="button textual" title="zoom out"><span class="teamworkIcon">)</span></button>
<button onclick="$('#workSpace').trigger('zoomPlus.gantt');" class="button textual" title="zoom in"><span class="teamworkIcon">(</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('deleteCurrentTask.gantt');" class="button textual" title="delete"><span class="teamworkIcon">&cent;</span></button>
&nbsp; &nbsp; &nbsp; &nbsp;
<button onclick="saveGanttOnServer();" class="button first big" title="save">save</button>
</div></div>
--></div>

  <div class="__template__" type="TASKSEDITHEAD"><!--
<table class="gdfTable" cellspacing="0" cellpadding="0">
<thead>
<tr style="height:40px">
<th class="gdfColHeader" style="width:35px;"></th>
<th class="gdfColHeader" style="width:25px;"></th>
<th class="gdfColHeader gdfResizable" style="width:30px;">code/short name</th>
<th class="gdfColHeader gdfResizable" style="width:10px;"></th>
<th class="gdfColHeader gdfResizable" style="width:200px;">name</th>
<th class="gdfColHeader gdfResizable" style="width:80px;">start</th>
<th class="gdfColHeader gdfResizable" style="width:80px;">end</th>
<th class="gdfColHeader gdfResizable" style="width:50px;">dur.</th>
<th class="gdfColHeader gdfResizable" style="width:50px;">dep.</th>
<th class="gdfColHeader gdfResizable" style="width:200px;">assignees</th>
</tr>
</thead>
</table>
--></div>

  <div class="__template__" type="TASKROW"><!--
<tr taskId="(#=obj.id#)" class="taskEditRow" level="(#=level#)">
<th class="gdfCell edit" align="right" style="cursor:pointer;"><span class="taskRowIndex">(#=obj.getRow()+1#)</span> <span class="teamworkIcon" style="font-size:12px;" >e</span></th>
<td class="gdfCell" align="center"><div class="taskStatus cvcColorSquare" status="(#=obj.status#)"></div></td>
<td class="gdfCell"><input type="text" name="code" value="(#=obj.code?obj.code:''#)"></td>
<td class="gdfCell"><span>-</span></td>

<td class="gdfCell indentCell" style="padding-left:(#=obj.level*10#)px;"><input type="text" name="name" value="(#=obj.name#)" style="(#=obj.level>0?'border-left:2px dotted orange':''#)"></td>

<td class="gdfCell"><input type="text" name="start" value="" class="date"></td>
<td class="gdfCell"><input type="text" name="end" value="" class="date"></td>
<td class="gdfCell"><input type="text" name="duration" value="(#=obj.duration#)"></td>
<td class="gdfCell"><input type="text" name="depends" value="(#=obj.depends#)" (#=obj.hasExternalDep?"readonly":""#)></td>
<td class="gdfCell taskAssigs">(#=obj.getAssigsString()#)</td>
</tr>
--></div>

  <div class="__template__" type="TASKEMPTYROW"><!--
<tr class="taskEditRow emptyRow" >
<th class="gdfCell" align="right"></th>
<td class="gdfCell" align="center"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
</tr>
--></div>

  <div class="__template__" type="TASKBAR"><!--
<div class="taskBox" taskId="(#=obj.id#)" >
<div class="layout (#=obj.hasExternalDep?'extDep':''#)">
<div class="taskStatus" status="(#=obj.status#)"></div>
<div class="taskProgress" style="width:(#=obj.progress>100?100:obj.progress#)%; background-color:(#=obj.progress>100?'red':'rgb(153,255,51);'#);"></div>
<div class="milestone (#=obj.startIsMilestone?'active':''#)" ></div>

<div class="taskLabel"></div>
<div class="milestone end (#=obj.endIsMilestone?'active':''#)" ></div>
</div>
</div>
--></div>


  <div class="__template__" type="CHANGE_STATUS"><!--
<div class="taskStatusBox">
<div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" title="active"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_DONE" title="completed"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_FAILED" title="failed"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" title="suspended"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" title="undefined"></div>
</div>
--></div>


  <div class="__template__" type="TASK_EDITOR"><!--
<div class="ganttTaskEditor">
<table width="100%">
<tr>
<td>
<table cellpadding="5">
<tr>
<td><label for="code">code/short name</label><br><input type="text" name="code" id="code" value="" class="formElements"></td>
</tr><tr>
<td><label for="name">name</label><br><input type="text" name="name" id="name" value="" size="35" class="formElements"></td>
</tr>
<tr></tr>
<td>
<label for="description">description</label><br>
<textarea rows="5" cols="30" id="description" name="description" class="formElements"></textarea>
</td>
</tr>
</table>
</td>
<td valign="top">
<table cellpadding="5">
<tr>
<td colspan="2"><label for="status">status</label><br><div id="status" class="taskStatus" status=""></div></td>
<tr>
<td colspan="2"><label for="progress">progress</label><br><input type="text" name="progress" id="progress" value="" size="3" class="formElements"></td>
</tr>
<tr>
<td><label for="start">start</label><br><input type="text" name="start" id="start" value="" class="date" size="10" class="formElements"><input type="checkbox" id="startIsMilestone"> </td>
<td rowspan="2" class="graph" style="padding-left:50px"><label for="duration">dur.</label><br><input type="text" name="duration" id="duration" value="" size="5" class="formElements"></td>
</tr><tr>
<td><label for="end">end</label><br><input type="text" name="end" id="end" value="" class="date" size="10" class="formElements"><input type="checkbox" id="endIsMilestone"></td>
</table>
</td>
</tr>
</table>

<h2>assignments</h2>
<table cellspacing="1" cellpadding="0" width="100%" id="assigsTable">
<tr>
<th style="width:100px;">name</th>
<th style="width:70px;">role</th>
<th style="width:30px;">est.wklg.</th>
<th style="width:30px;" id="addAssig"><span class="teamworkIcon" style="cursor: pointer">+</span></th>
</tr>
</table>

<div style="text-align: right; padding-top: 20px"><button id="saveButton" class="button big">save</button></div>
</div>
--></div>


  <div class="__template__" type="ASSIGNMENT_ROW"><!--
<tr taskId="(#=obj.task.id#)" assigId="(#=obj.assig.id#)" class="assigEditRow" >
<td ><select name="resourceId" class="formElements" (#=obj.assig.id.indexOf("tmp_")==0?"":"disabled"#) ></select></td>
<td ><select type="select" name="roleId" class="formElements"></select></td>
<td ><input type="text" name="effort" value="(#=getMillisInHoursMinutes(obj.assig.effort)#)" size="5" class="formElements"></td>
<td align="center"><span class="teamworkIcon delAssig" style="cursor: pointer">d</span></td>
</tr>
--></div>

</div><body>
 <%=   yield %>
<br>
<div class="headright"> 
 <%= render :partial => "devise/login_logout" %>
</div>
<div id="contents">
      <p class="notice"><%= notice %> <class="alert"><%= alert %></p>
</div>
</body>
</html>
